/* 

section, aside{
    border: 1px solid black;
}

header{
    width: 90%;
    height: 15%;
    float: left;
    padding-left: 10%;
    display: ruby;
    background-color: rgb(252, 177, 117);
    color: rgb(53, 42, 42);
}

.navbar{
    list-style: none;
    display: ruby;
    padding-left: 10vw;
    vertical-align: middle;
}

.buscador{
    padding-left: 40vw;
}

#buscador{
    vertical-align: middle;
    margin-top: -80px;
}



section{
    height: 100%;
    float: left;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

article img{
    margin: 15px;
}

aside{
    width: 20%;
    height: 70%;
    float: left;
    padding: 2%;
    background-color: white;
}

footer{
    width: 100%;
    height: 15%;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(252, 177, 117);
    color: rgb(53, 42, 42);
}

.footernav, .footernav2{
    list-style:none;
}

.footernav li{
    display: ruby-text;
    padding-bottom: 2%;
}

.footernav2 li{
    display: ruby-text;
    padding-top: 5%;
    padding-bottom: 2%;
} */

body{
    margin: 0;
    height: 100%;
    /* background-color: #E0FFFF; */
    background: radial-gradient(circle, rgba(203,236,252,1) 45%, rgba(69,145,182,1) 100%);
}

header{
    padding: 0 !important;
}

main{
    margin-top: 135px;
}

.navbar{
    background-color: rgba(245,245,245,1) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 200;
}

h1, h2, h3, h4, h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* CSS APIS */

iframe.calendario{
    width: 100%;
    height: 350px;
}

#map{
    width: 100%;
    height: 350px;
    margin-top: 2%;
}

/* CSS HOME */

.carousel{
    transition:  transform 2s ease, opacity .5s ease-out;
}

.carouselhome{
    padding: 0;
}

.carouselimghome{
    height: 550px;
}

.titulosHome{
    margin-left: 3%;
    color: #2b2b2b;
    border-bottom: 7px solid #6e6e6e;
}

.cardHome{
    height: 425px !important;
    border-color: black !important;
    --box-shadow-color: rgb(65, 55, 119);
    box-shadow: inset 0 0 15px 2px var(--box-shadow-color);
    width: 18rem;
    background-color: aliceblue;
}

.cardHome:hover{
    --box-shadow-color: rgb(65, 55, 119);
    box-shadow: inset 0 0 30px 15px var(--box-shadow-color);
}

.imgCard{
    display: block;
    position: relative;
}

.tituloCard{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    color: black;
    text-shadow: 1px 1px rgb(177, 177, 177);
    text-decoration: none;
}

.mapa{
    margin-top: 2%;
    margin-bottom: -0.85%;
}

.rowCardsHome{
    place-content: center;
}

.rowCards{
    text-align: -webkit-center;
}


/* CSS PRODUCTOS */

.columnas{
    height: 425px !important;
    border-color: black !important;
    --box-shadow-color: rgb(65, 55, 119);
    box-shadow: 0 0 15px 2px var(--box-shadow-color);
    width: 18rem;
}

.columnas:hover{
    --box-shadow-color: rgb(65, 55, 119);
    box-shadow: 0 0 10px 10px var(--box-shadow-color);
}

.tituloProductos{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #2b2b2b;
    border-bottom: 7px solid #6e6e6e;
}

summary h5, summary p{
    text-align: left;
}

.articulos{
    border-color: black !important;
    --box-shadow-color: rgb(65, 55, 119);
    box-shadow: 0 0 15px 2px var(--box-shadow-color);
    width: 18rem;
    height: auto;
}

@media (max-width: 1200px) {
    .columnaAside{
        display: none;
    }
}


/* CSS FOOTER */

footer{
    margin-top: 15%;
    padding: 1%;
    border-top: 1px solid black;
    background-color: rgba(245,245,245,1);
}

.footermap{
    padding: 0;
}

.cabecerafooter, .datosfooter{
    color: black !important;
}

.datosfooter{
    margin-left: -20px;
}