/* 

section, aside{
    border: 1px solid black;
}

header{
    width: 90%;
    height: 15%;
    float: left;
    padding-left: 10%;
    display: ruby;
    background-color: rgb(252, 177, 117);
    color: rgb(53, 42, 42);
}

.navbar{
    list-style: none;
    display: ruby;
    padding-left: 10vw;
    vertical-align: middle;
}

.buscador{
    padding-left: 40vw;
}

#buscador{
    vertical-align: middle;
    margin-top: -80px;
}

.perfil{
    margin-left: 30px;
    vertical-align: middle;
    margin-top: -80px;
}

section{
    height: 100%;
    float: left;
    margin-left: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

article img{
    margin: 15px;
}

aside{
    width: 20%;
    height: 70%;
    float: left;
    padding: 2%;
    background-color: white;
}

footer{
    width: 100%;
    height: 15%;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(252, 177, 117);
    color: rgb(53, 42, 42);
}

.footernav, .footernav2{
    list-style:none;
}

.footernav li{
    display: ruby-text;
    padding-bottom: 2%;
}

.footernav2 li{
    display: ruby-text;
    padding-top: 5%;
    padding-bottom: 2%;
} */

body{
    margin: 0;
    background-color: rgb(145, 65, 0);
}

header{
    padding: 0 !important;
}

iframe.calendario{
    width: 100%;
    height: 350px;
}

#map{
    width: 100%;
    height: 350px;
    margin-top: 2%;
}

.carousel{
    transition:  transform 2s ease, opacity .5s ease-out 
}

.mapa{
    margin-top: -2%;
}

.card{
    border-color: black !important;
    box-shadow: 0 0 15px 2px;
    width: 18rem;
}

.card:hover{
    box-shadow: 0 0 5px 5px;
}

.columnas{
    text-align: -webkit-center;
}

.tituloProductos{
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .columnaAside{
        display: none;
    }
}

footer{
    padding: 1%;
    border-top: 1px solid black;
    background-color: rgb(202, 202, 202);
}
